<footer>
    <p>Para consultas y más información, contáctanos:</p>
    <ul>
        <li>Correo Electrónico: <a href="mailto:contacto@concursodecocinapueblo.com">contacto@concursodecocinapueblo.com</a></li>
        <li>Teléfono: (+34) 629 567 890</li>
        <li>Dirección: Calle Principal, Santa Maria de las Luces, España</li>
    </ul>
    <div class="ending">
        <p>&copy;</p>
        <nav>
            <ul>
                <li><a href="index.html">Sabores del Pueblo</a></li>
                <li><a href="participants.html">Participantes</a></li>
                <li><a href="article.html">Nota de prensa</a></li>
                <li><a href="inscription.html">Inscripción</a></li>
            </ul>
        </nav>
        <div class="social_network">
            <a href="#" class="fa fa-google"></a>  
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
        </div>
    </div>
</footer>